
  

.image-right {    
     float: right; /* This moves the image to the right */
}

/* Style for the body of the page */
body {
    font-family: Arial, sans-serif;
    background-color: #fffcfc;
    margin: 0;
    padding: 0;
}

/* Header style */
header {
    background-color: #030000;
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Style for links in the navigation */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* Style for the main section */
main {
    padding: 20px;
    background-color: rgb(203, 228, 240);
    margin-top: 20px;
}

/* Style for paragraphs */
p {
    font-size: 16px;
    line-height: 1.5;
    color: #f70000;
}

/* Style for footer */
footer {
    background-color: #000000;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
    position: bottom;
    width: 100%;
    bottom: 0;
}